alertmanager:
  config:
    global:
      resolve_timeout: 5m
      
    route:
      receiver: 'my-http-webhook'
      
      group_by: ['alertname', 'job']
      
      group_wait: 30s
      
      group_interval: 5m
      
      repeat_interval: 4h

    receivers:
    - name: 'null'
      
    - name: 'my-http-webhook'
      webhook_configs:
      - url: 'https://webhook.site/c9b563ed-7afe-4900-9398-11b770cbe501' 
        send_resolved: true